---
layout: default
---

<div id='doc-nav'>
	<ul id='doc-level-one'>
		<li>
			Getting started
			<ul>
				<li><a href='/getting-started/setup.html'>1. Setting up Crafty</a></li>
				<li><a href='/getting-started/first-entity.html'>2. Making your first Entity</a></li>
				<li><a href='/getting-started/make-it-move.html'>3. Make it move</a></li>
				<li><a href='/getting-started/collision.html'>4. Collision</a></li>
			</ul>
		</li>
		
	</ul>
</div>
<div id='doc-content'>

<h2> {{ page.title }} </h2>

	{{ content }}
</div>
