--- 
layout: default
---

<div id='doc-nav'>
	<ul id='doc-level-one'>
		<li>
			Getting started
			<ul>
				<li><a href='/getting-started/setup.html'>1. Setting up Crafty</a></li>
				<li><a href='/getting-started/first-entity.html'>2. Making your first Entity</a></li>
				<!-- <li><a href='/getting-started/drawing.html'>3. Control it</a></li>
				<li><a href='/getting-started/drawing.html'>4. Collision</a></li> -->
			</ul>
		</li>
		
	</ul>
</div>
<div id='doc-content'>

<h2> {{ page.title }} </h2>

	{{ content }}
</div>
