--- 
title: Tutorial
layout: default
---

<div id='doc-nav'>
	<ul id='doc-level-one'>
		<li>Core<ul>
			<li><a href='/tutorial/start'>Getting started</a></li><li><a href='Crafty-Core.html'>Crafty Core</a></li><li>
				<a href='Crafty-extend.html'>Crafty.extend</a></li><li><a href='Crafty-init.html'>Crafty.init</a></li><li>
					<a href='Crafty-stop.html'>Crafty.stop</a></li><li><a href='Crafty-pause.html'>Crafty.pause</a></li><li>
						<a href='Crafty-e.html'>Crafty.e</a></li><li><a href='Crafty-c.html'>Crafty.c</a></li><li>
							<a href='Crafty-trigger.html'>Crafty.trigger</a></li><li><a href='Crafty-bind.html'>
								Crafty.bind</a></li><li><a href='Crafty-unbind.html'>Crafty.unbind</a></li><li><a
									href='Crafty-frame.html'>Crafty.frame</a></li><li><a href='Crafty-settings.html'>Crafty.settings</a></li><li>
										<a href='Crafty-support.html'>Crafty.support</a></li></ul>
		</li>
		<li>Internal<ul>
			<li><a href='Crafty-timer.html'>Crafty.timer</a></li></ul>
		</li>
		<li>Events<ul>
			<li><a href='Crafty-trigger.html'>Crafty.trigger</a></li><li><a href='Crafty-bind.html'>
				Crafty.bind</a></li><li><a href='Crafty-unbind.html'>Crafty.unbind</a></li><li><a
					href='Crafty-addEvent.html'>Crafty.addEvent</a></li><li><a href='Crafty-removeEvent.html'>
						Crafty.removeEvent</a></li></ul>
		</li>
		<li>2D<ul>
			<li><a href='2D.html'>2D</a></li><li><a href='Gravity.html'>Gravity</a></li><li><a
				href='Crafty-Polygon.html'>Crafty.Polygon</a></li><li><a href='Crafty-Circle.html'>Crafty.Circle</a></li><li>
					<a href='Collision.html'>Collision</a></li><li><a href='Crafty-isometric.html'>Crafty.isometric</a></li><li>
						<a href='Crafty-math.html'>Crafty.math</a></li></ul>
		</li>
		<li>Graphics<ul>
			<li><a href='DOM.html'>DOM</a></li><li><a href='Crafty-DOM.html'>Crafty.DOM</a></li><li>
				<a href='HTML.html'>HTML</a></li><li><a href='Crafty-sprite.html'>Crafty.sprite</a></li><li>
					<a href='Crafty-background.html'>Crafty.background</a></li><li><a href='Sprite.html'>
						Sprite</a></li><li><a href='Canvas.html'>Canvas</a></li><li><a href='Crafty-canvas.html'>
							Crafty.canvas</a></li><li><a href='Color.html'>Color</a></li><li><a href='Tint.html'>
								Tint</a></li><li><a href='Image.html'>Image</a></li><li><a href='Text.html'>Text</a></li></ul>
		</li>
		<li>Utilities<ul>
			<li><a href='Storage.html'>Storage</a></li></ul>
		</li>
		<li>Misc<ul>
			<li><a href='Crafty-support.html'>Crafty.support</a></li><li><a href='Crafty-addEvent.html'>
				Crafty.addEvent</a></li><li><a href='Crafty-removeEvent.html'>Crafty.removeEvent</a></li></ul>
		</li>
		<li>Stage<ul>
			<li><a href='Crafty-background.html'>Crafty.background</a></li><li><a href='Crafty-viewport.html'>
				Crafty.viewport</a></li><li><a href='Crafty-scene.html'>Crafty.scene</a></li></ul>
		</li>
		<li>Input<ul>
			<li><a href='Crafty-keys.html'>Crafty.keys</a></li><li><a href='Crafty-mouseButtons.html'>
				Crafty.mouseButtons</a></li><li><a href='Mouse.html'>Mouse</a></li><li><a href='Draggable.html'>
					Draggable</a></li><li><a href='Keyboard.html'>Keyboard</a></li><li><a href='Multiway.html'>
						Multiway</a></li><li><a href='Fourway.html'>Fourway</a></li><li><a href='Twoway.html'>
							Twoway</a></li></ul>
		</li>
		<li>Animation<ul>
			<li><a href='SpriteAnimation.html'>SpriteAnimation</a></li><li><a href='Tween.html'>
				Tween</a></li></ul>
		</li>
		<li>Scenes<ul>
			<li><a href='Crafty-scene.html'>Crafty.scene</a></li></ul>
		</li>
		<li>Audio<ul>
			<li><a href='Crafty-audio.html'>Crafty.audio</a></li></ul>
		</li>
		<li>Assets<ul>
			<li><a href='Crafty-assets.html'>Crafty.assets</a></li><li><a href='Crafty-loader.html'>
				Crafty.loader</a></li><li><a href='Crafty-modules.html'>Crafty.modules</a></li></ul>
		</li>
	</ul>
</div>
<div id='doc-content'>
		{{ content }}
</div>
