--- 
layout: default
---

<div id='doc-nav'>
	<ul id='doc-level-one'>
		<li>
			bananabomber
			<ul>
				<li><a href='/tutorial/bananabomber/create-a-game'>Create a game</a></li>
				<li><a href='/tutorial/bananabomber/graphics'>sprites and animations</a></li>
				<li><a href='/tutorial/bananabomber/input-and-events'>movement, controls, events</a></li>
			</ul>
		</li>
		<li>
			Administrative
			<ul>
				<li><a href='/tutorial/index'>Structure</a></li>
			</ul>
		</li>


	</ul>
</div>
<div id='doc-content'>

<h2> {{ page.title }} </h2>

	{{ content }}
</div>
